 /* Reminder Container */
.reminder-container {
    max-width: 70%;
    margin: 50px auto;
    padding: 25px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #333;
    position: relative;
    background-image: url('../images/inventory.jpeg');
}

/* Heading */
.reminder-title {
    font-size: 26px;
    font-weight: 700;
    color: #2c3e50;
    border-bottom: 3px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 25px;
    text-align: center;
}

/* Reminder List */
.reminder-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

/* Reminder Item */
.reminder-item, .non-expiring {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    margin-bottom: 12px;
    background: #f8f9fa;
    border-radius: 10px;
    border: 1px solid #003b00be;
    transition: all 0.3s ease;
}

 
/* Hover effect */
.reminder-item:hover, .non-expiring:hover {
    background: #f1f1f1;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

/* Reminder Message */
.reminder-item p, .non-expiring p {
    flex-grow: 1;
    font-size: 18px;
    color: #444;
    text-align: left;
    margin-right: 18px;
 
}

 
.non-expiring p {
    font-size: 30px; /* Larger font size */
    font-weight: bold;
}

/* Button Container */
 
/* Button Group */
 
 
 

/* Button Group */
 
.button-group {
    display: flex;
    gap: 18px;
}

/* Buttons */
.add-button, .skip-button, .shopping-list-button {
    background: linear-gradient(to right, #003b00be, #5ef466a6);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

.add-button:hover, .skip-button:hover, .shopping-list-button:hover {
    background: #219150;
}

/* Shopping List Button Centered */
.shopping-list-button {
    display: block;
    margin: 30px auto 0;
}

/* Empty Reminder Message */
.reminder-container p {
    font-size: 15px;
    color: #666;
    padding: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .reminder-container {
        max-width: 90%;
        padding: 20px;
    }
 
    .reminder-item, .non-expiring {
 

     flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .reminder-item p, .non-expiring p {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .button-group {
        width: 100%;
        justify-content: flex-end;
        gap: 12px;
    }
 
}
 

 