.side-navbar {
  width: 260px;
  background-image: url('../images/sidebg.jpeg');
  background-repeat: no-repeat;
  background-size: 150% 100%;
  padding: 8px;
  height: 100vh;
  position: fixed;
  border-right: 2px solid #ddd;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-dashboard {
  width: 150px; /* Increased size */
  height: auto;
}

.side-navbar ul {
  list-style: none;
  padding: 0;
}

.side-navbar li {
  margin: 1px 10;
}

.side-navbar a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 5px;
  transition: all 0.3s ease;
  background: none; /* Ensure no background is applied */
  border: none; /* Remove any borders */
  outline: none; /* Remove focus outline */
  box-shadow: none; /* Ensure no shadow is causing the effect */
}



